doctype html
html
    head
        style
            include style.css
        body
            div
                | hello header
            div
                block content
            div.footer
                | hello footer
            hr
            div
                a(href=frontendUrl) | visit our website
